<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>About</title>
    <meta name="description" content="About">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="css/styles.css?v=1.0">
    <div class="portrait">
      <img src="images/dustin.png" alt="About">
    </div>
    <center>
    <div class="about-me"></div>
    <h3>Do you hear that? That is the call of the mountains and you’ve found it.<br />
      <br />Welcome to <strong>The Backpack Blazer</strong>.<br />
      <br />Here you can join me and be a part of my passion for the outdoors. I have an addiction that is treated on the mountain tops spending my
      nights under the stars. I love adventure and walking into the unknown with my backpack. I have recently picked up fly fishing and working hard to become good at it. In addition to the backpacking and alpine fishing you will also find me on the side
      of a cliff at one of Utah’s many world-class rock-climbing destinations or floating about on my kayak looking for a beach to pitch a tent. I am a gear junkie and you will see the occasional gear review when time allows but my first priority wondering
      up and down dirt trails looking for a place to call home for the night. I look forward to seeing you on the trail.
    </h3>
    <br />
    <div class="portrait">
      <img src="images/signature.png" alt="About Dustin">
    </div>
    </center>
  </div>
</head>

<body>
  <script src="js/scripts.js"></script>
</body>
</html>

<%= link_to 'Home', root_path %>
