<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>About</title>
    <meta name="description" content="About">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="css/styles.css?v=1.0">
    <h1>About Me :)</h1>
  </head>

  <body>
    <script src="js/scripts.js"></script>
  </body>
</html>

<%= link_to 'Home', pages_home_path %>