<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>This is my homepage!</title>
    <meta name="description" content="Homepage">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="css/styles.css?v=1.0">
    <h1>This is my homepage!</h1>
  </head>

  <body>
    <script src="js/scripts.js"></script>
  </body>
</html>

<%= link_to 'About', about_path %>