$navbar-default-bg: #0067A4;

#logo {
  float: left;
  font-size: 1.7em;
  color: #FF8C00;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #FFBB00;
  text-decoration: none;
}

.center {
  text-align: center;
}



// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
