<div class="container">
  <footer class="footer">
    <nav>
      <ol class="breadcrumb">
        <li><a href="http://www.girlonahike.com">Copyright &copy; GirlonaHike</a></li>
        <li><a href="#">Home</a></li>
        <li>
          <a href="#">About</a></li>
        </li>
      </ol>
    </nav>
  </footer>
</div>
